<div th:fragment="logos" class="band-content p-4">
    <h2>
        Logos
    </h2>

    <div th:replace="~{:: logo(icon='images/logos/logo-64.png', name='handischlereth',
        url='https://pixabay.com/es/users/andischlereth-10453737/')}">
    </div>
</div>

<div th:fragment="logo(icon, name, url)" class="mb-2 p-0">
    <a th:href="${url}" class="d-flex application-long p-2 btn btn-primary" target="_blank">
        <img th:src="${icon}" th:alt="${name}" class="size-icon-normal">
        <div class="ps-2 mt-4">
            <h5 class="mb-0"><strong>[[${name}]]</strong></h5>
        </div>
    </a>
</div>
