<!doctype html>
<html lang="en">
    
<head th:replace="~{fragments/header :: head('')}"></head>

<body>
    <div th:replace="~{fragments/header :: navbar}"></div>

    <div class="band-background-white">
        <div th:replace="~{fragments/index/description}"></div>
    </div>

    <div class="band-background-blue" id="applications">
        <div th:replace="~{fragments/index/applications :: applications}"></div>
    </div>

    <div class="band-background-white" id="extensions">
        <div th:replace="~{fragments/index/extensions :: extensions}"></div>
    </div>

    <div th:replace="~{fragments/modals :: imageModal}"></div>

    <script src="js/modals.js"></script>
    <script src="js/downloads.js"></script>

    <div th:replace="~{fragments/footer}"></div>
</body>
</html>