<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Time, creator of universes</title>

    <meta name="description" content="Timeverse theory of creation of universes"/>
    <meta name="keywords" content="time theory universe"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link href="/css/timeverse.css" rel="stylesheet">
    <link rel="canonical" href="https://obision.com/timeverse">
    <link rel="canonical" href="https://www.obision.com/timeverse">
</head>

<body>
    <div class="text-center">
        <h1>Time, Creator of Universes</h1>
        <h2>Timeverse theory and time bubbles</h2>
        <br>
        <div>José Francisco González Sánchez</div>
        <div>November 23, 2023</div>
    </div>

    <div class="section">
        <h4><strong>Introduction</strong></h4>
        <p>This is a theory of what the beginning and construction of our universe and many others that may exist in the multiverse could have been like.</p>
        <p>
            Based on the fact that time, as we know it, could be an energy, this theory will be based on explaining the creation of the different universes in the multiverse that we live in based on this temporal energy.
        </p>
    </div>

    <div class="section">
        <h4><strong>Timeverse</strong></h4>
        <p>
            The timeverse is the container where time energy bubbles are created, live and dissolve and will contain the multiverse to which our universe belongs. 
            It could be compared to an oil lamp where the bubbles would be the time bubbles and the oil would be the timeverse. 
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image1.png" alt="Oil lamp" width="165" height="325">
            <div class="text-image">
                Comparison of the Timeverse with an oil lamp
            </div>
        </div>
    </div>

    <div class="section">
        <h4><strong>Vibration</strong></h4>
        <p>
            The vibration of this timeverse is responsible for generating bubbles of temporal energy, possibly the same energy that is currently known as dark energy, 
            and which is responsible for feeding the different universes that are created from it.         
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image2.png" alt="Vibration" width="550" height="250">
            <div class="text-image">
                Creation of a new time bubble 
            </div>
        </div>

        <br>

        <p>
            In turn, this vibration, in areas where it is higher, generates a series of particles, which I will call Sanchez particles, 
            which are responsible for transforming temporary energy into known energy. 
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image3.png" alt="Super vibration" width="550" height="175">
            <div class="text-image">
                Creation of Sánchez particles for energy conversion
            </div>
        </div>

        <br>

        <p>
            The vibration of this timeverse could be produced by the vibration described in string theory.
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image4.png" alt="String vibration" width="200" height="175">
            <div class="text-image">
                Possible generator of vibrations in the Timeverse according to string theory
            </div>
        </div>
    </div>

    <div class="section">
        <h4><strong>Interaction</strong></h4>
        <p>
            When the temporary energy bubble interacts with Sanchez particles, it is transformed into known energy, which begins the creation of a new universe.  
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image5.png" alt="Beginning" width="550" height="225">
            <div class="text-image">
                Beginning of the creation of a new universe 
            </div>
        </div>

        <br>

        <p>
            Once a bubble is created, if it does not interact or interacts weakly with Sanchez particles, this energy will dissolve until it disappears. 
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image6.png" alt="dissolving" width="550" height="175">
            <div class="text-image">
                If the time bubble does not interact with Sanchez particles it will end up dissolving 
            </div>
        </div>
    </div>
    
    <div class="section">
        <h4><strong>Energy speed</strong></h4>
        <p>
            Since the known energy, created from the interaction of temporal energy with Sanchez particles, is less energetic, 
            it would cause this energy to be weaker and slower than the temporal energy. The temporary energy will leave the new energy universe behind until it leaves the bubble. 
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image7.png" alt="Energy speed" width="550" height="250">
            <div class="text-image">
                Temporal energy, being more energetic, moves at a greater speed 
            </div>
        </div>
    </div>
    
    <div class="section">
        <h4><strong>Dissolution</strong></h4>
        <p>
            When we leave the time bubble in which we find ourselves, no more time energy will be injected. The universe will enter a dissolution phase, 
            due to the lack of injection of new energy, transforming the current energy and matter of the universe back into temporary energy. 
            If this energy does not interact with Sanchez particles again, it will end up disappearing, causing the Timeverse to remain stable. 
        </p>
        <div class="text-center">
            <img src="/images/timeverse/image8.png" alt="Dissolution" width="550" height="250">
            <div class="text-image">
                When the universe leaves its time bubble, it will begin its dissolution. 
            </div>
        </div>
        <br>
        <p>
            Currently, as the universe is expanding, it could mean that we are going through one of these temporary energy bubbles, 
            surely the same one that interacted with the Sanchez particles that initiated creation and that continues to inject energy into our universe. 
            Once we get out of this bubble the expansion will stop occurring. 
        </p>
    </div>
</body>
</html>