<div th:fragment="extensions" class="band-content p-4">
    <h1>
        Desktop extensions
    </h1>

    <p>
        Obision has some default extensions of GNOME desktop preinstalled and configured into the installation.
    </p>

    <p>Some extensions included in the distribution are</p>

    <div class="container text-center p-0">
        <div class="row align-items-start">
            <div th:replace="~{:: extension(icon='images/icons/extensions/dashtodock.png', name='Dash to Dock',
                description='A configurable dock for GNOME', url='https://extensions.gnome.org/extension/307/dash-to-dock')}"></div>
            <div th:replace="~{:: extension(icon='images/icons/extensions/desktopicons.png', name='Desktop Icons NG',
                description='Adds icons to the desktop', url='https://extensions.gnome.org/extension/2087/desktop-icons-ng-ding/')}"></div>
        </div>

        <div class="row align-items-start">
            <div th:replace="~{:: extension(icon='images/icons/extensions/showdesktop.png', name='Show Desktop Applet',
                description='Minimize/unminimize all open windows with a single click', url='https://extensions.gnome.org/extension/4267/show-desktop-applet/')}"></div>
            <div th:replace="~{:: extension(icon='images/icons/extensions/plugin.png', name='Dynamic Panel Transparency',
                description='Fades your top panel to nothingness when there are no maximized', url='https://extensions.gnome.org/extension/1011/dynamic-panel-transparency/')}"></div>
        </div>
    </div>

    <div class="d-flex flex-row-reverse small"><a href="/credits#extensions">Show more included extensions</a></div>

    <p class="mt-2">You can find more extensions in the <a href="https://extensions.gnome.org" target="_blank"> GNOME extensions page</a></p>
</div>

<div th:fragment="extension(icon, name, description, url)" class="col m-2 p-0">
    <a th:href="${url}" class="extension-short p-4 btn btn-primary" target="_blank">
        <img th:src="${icon}" th:alt="${name}">
        <h5 class="mt-2"><strong>[[${name}]]</strong></h5>
        <div class="mt-2 small" th:text="${description}"></div>
    </a>
</div>

